@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Odor";
  src: url("./assets/fonts/OdorMeanChey-Regular.ttf");
}

@font-face {
  font-family: "Lexend";
  src: url("./assets/fonts/LexendDeca-VariableFont_wght.ttf");
}